/* form styles start */
.vertical-form {
    display: flex;
    align-content: center;
    justify-content: center;
    flex-direction: column wrap;
    text-align: center;
  }
  
  .vertical-form input,
  .vertical-form button
  .vertical-form label
  {
    margin-top: 1em;
    width: 100%;
  }
  .input-control
  {
    border:none;
    border-bottom: 1px solid #888875;
    padding-top:1.2em;
    border: none;
    border-bottom: 1px solid #888875;
    background: transparent;
   }
   input:required:invalid, input:focus:invalid {
    -moz-box-shadow: none;
    border-right:1px red;

  }

  input:required:invalid, input:focus:invalid {
    background-image: url(../static/img/invalid.png);
    border-right:1px green;
  }

  input:required:valid {
       border-right:1px red;

  }
  .form-control {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-areas:"label" "control";
    grid-gap: 16px;
    justify-content: center;
}
.form-control >*{
  display: block;
}

/* .form-control >* label{
    grid-area:label;
    grid-row: auto;
    justify-self: center;
    align-self: center;
  
  } */
  

.form-control input,
.form-control button,
.form-control textarea,
.form-control .form-title

{
    grid-area:control;
    

} 
  .form-control textarea
{
   min-height: 100px;

} 
/* 
@media screen and (min-width:500px) {

    
   
    .form-control {
        grid-template-columns: 200px 1fr;
        grid-template-areas:"label control";
    }
    .form-control label{
        justify-self: center;
        align-self: center;
      
      }

    .form-control input,
    .form-control button,
    .form-control textarea,
    .form-control .form-title

    {
        grid-area:control;
        grid-row: auto;
        justify-self: center;
        align-self: center;

    } 
}

@media screen and (min-width:700px) {
  
    .form-control {
        grid-template-columns: 200px 1fr;
        grid-template-areas:"label control";
    }
    .form-control label{
        justify-self: end;
        align-self: center;
    }
}
/* form styles end here */
/* 
.col-3{
    width:30%;
  
}
.col-6{
    width:60%;
  
}  */