  .table tr { 
    display: flex; 
    flex-direction: row;
    flex-wrap: wrap;
    margin: 0.4em 0;
    border: 1px solid rgba(3,3,3,0.2);

   }
  .table td ,
  .table th 
  {
    flex: 1 1 150px;
    border: 0.5px solid rgba(3,3,3,0.2);
  }


.table tr { 
  border-bottom: 1px solid #F3F1F3;
}
.table  { 
    text-align: center;
}
